.blockBuster {
    background-color: rgb(234,157,126);
    height: 40vh;
}

.testimonialsContainer {
    margin-top: 2em;
}

.ctaDivBeforeFooter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}